header {
background: #3fb3fb;
background: radial-gradient(circle,rgba(63, 179, 251, 1) 0%, rgba(70, 82, 252, 1) 100%);
  color: #ffffff;
}

.header-logo { 
   	max-width: 150px; /* Maximale Breite für das Header-Logo */
 	max-height: 130px;
 	height: auto;
 	width: auto;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    background-color: ffffff;
}

main {
  border: 3px solid #3fb3fb !important; /* Blattgrüner Rand (aus Ihrem Header-Grün) */
  border-radius: 10px; /* Abgerundete Ecken für ein moderneres Aussehen */
}

.action-card {
    border: none;
    border-radius: 1rem;
}

.action-card .ui-card-body {
    padding: 1.5rem;
}

.action-start-button {
    min-width: 12rem;
  	background-color: #0b3d5c !important;
    border-color: #0b3d5c !important;
    color: #ffffff !important;
}

/* Hover-Effekt für die Aktionsbutton, wenn er nicht deaktiviert ist */
.action-start-button:hover:not(.ui-state-disabled) {
    transform: translateY(-2px); /* Leichtes Anheben bei Hover */
    box-shadow: 0 0.45rem 1rem rgba(0, 0, 0, 0.18); /* Dezentere Schatten für einen subtilen Effekt */
}

.info-card {
    border: none;
    border-radius: 1rem;
    background-color: #f8f9fa;
    box-shadow: 0 0.35rem 1rem rgba(0, 0, 0, 0.08);
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    will-change: transform; 
}

.info-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.12);
    border: 2px solid #3fb3fb ;
}

.info-icon {
    font-size: 1.5rem;
    color: #0d6efd;
    margin-top: 0.2rem;
}

/* Responsive Anpassungen */
@media (max-width: 768px) {
    .action-card .ui-selectonebutton {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .action-card .ui-selectonebutton .ui-button {
        width: 100%;
    }

    .action-start-button, person-action-button {
        width: 100%;
    }
}

.ui-message-error-icon,
.ui-messages-error-icon {
    display: none !important; /* Versteckt die Fehlermeldungs-Icons, wei dies als Inline */
}

/*.tooltip-icon-small {
    font-size: 0.05rem !important; /* Sehr kleines Icon für Tooltips */
  /*  opacity: 0.5 !important; /* Leicht transparent für ein dezentes Aussehen */
.tooltip-icon-small {
    display: inline-block;
    font-size: 0.6em;
    color: #007bff;
    cursor: help;
    vertical-align: super;
    opacity: 0.5;
}

/* Weniger Abstand in PrimeFaces DataTable */
.ui-datatable .ui-datatable-data > tr > td,
.ui-datatable .ui-datatable-thead > tr > th {
    padding: 0.2rem 0.4rem;
}

/* Hover-Effekt für DataTable-Zeilen */
.ui-datatable .ui-datatable-data > tr:hover {
    background-color: #3fb3fb !important;
}

/* Alternierende Hintergrundfarbe für DataTable-Zeilen */
.ui-datatable .ui-datatable-data > tr:nth-child(even) {
    background-color: #bad3fe;
}
