header {
background: #3fb3fb;
background: radial-gradient(circle,rgba(63, 179, 251, 1) 0%, rgba(70, 82, 252, 1) 100%);
  color: #ffffff;
}

.header-logo { 
   	max-width: 170px; /* Maximale Breite für das Header-Logo */
 	max-height: 150px;
 	height: auto;
 	width: auto;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    background-color: ffffff;
}

main {
  border: 3px solid #3fb3fb !important; /* Blattgrüner Rand (aus Ihrem Header-Grün) */
  border-radius: 10px; /* Abgerundete Ecken für ein moderneres Aussehen */
}

.ui-message-error-icon,
.ui-messages-error-icon {
    display: none !important; /* Versteckt die Fehlermeldungs-Icons, wei dies als Inline */
  /*display: flex;			 /* Icon wird neben dem Text angezeigt
    align-items: flex-start;
    gap: 0.5rem; */
}

/*.tooltip-icon-small {
    font-size: 0.05rem !important; /* Sehr kleines Icon für Tooltips */
  /*  opacity: 0.5 !important; /* Leicht transparent für ein dezentes Aussehen */
   /* vertical-align: text-top !important; /* Vertikal zentriert zum Text, super, text-top */


.tooltip-icon-small {
    display: inline-block;
    font-size: 0.6em;
    color: #007bff;
    cursor: help;
    vertical-align: super;
    opacity: 0.5;
}

/* Weniger Abstand in PrimeFaces DataTable */
.ui-datatable .ui-datatable-data > tr > td,
.ui-datatable .ui-datatable-thead > tr > th {
    padding: 0.2rem 0.4rem;
}

/* Hover-Effekt für DataTable-Zeilen */
.ui-datatable .ui-datatable-data > tr:hover {
    background-color: #3fb3fb !important;
}

/* Alternierende Hintergrundfarbe für DataTable-Zeilen */
.ui-datatable .ui-datatable-data > tr:nth-child(even) {
    background-color: #bad3fe;
}
